<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
</head>
<body>
    <h2>Sveiki, prašome prisiregistruoti prie užrašinės</h2>

</div>
<form action="/registracija" method="post">
  <br>
  <label for= "username"> Username </label>
  <br>
  <input  id="username" name="username" value=""><br>
  <br>
  <br>
  <label for= "password"> Password </label>
  <br>
  <input  id="password" name="password" value="" type = "password"><br>
  <br>
  <div class="button">
  <input type="submit" value="Submit">
</div>
</form> 
<p>
  {{status}} 
</p>






    
</body>
</html>